# =========================
# IDE / Editors
# =========================
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

.env
.venv/
/hw2/venv311
venv/
ENV/

# =========================
# Build / Packaging
# =========================
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# =========================
# Docker
# =========================
*.pid

# =========================
# OS
# =========================
Thumbs.db
